<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Breakfast" class="container flex-center">
      <a class="blog-card" style="--bg-img: url(../../assets/images/coffee.jpg)">
          <div>
              <h1>Start your day with this</h1>
              <p>Black-coffee</p>
              <p>Green Tea</p>
              <p>Lemon Honey Water</p>
          </div>
      </a>
      <a class="blog-card" style="--bg-img: url(../../assets/images/salad.jpg)">
          <div>
              <h1>Make your day better with this</h1>
              <p>Salad</p>
              <p>Eggs</p>
              <p>Tofu</p>

          </div>
      </a>
  </mat-tab>
  <mat-tab label="Morning Snacks">
      <a class="blog-card" style="--bg-img: url(../../assets/images/juice.jpeg)">
          <div>
              <h1>Liquids can be taken in snacks such as</h1>
              <p>Juice</p>
              <p>cinamon water</p>
              <p>Lemon water</p>
          </div>
      </a>
      <a class="blog-card" style="--bg-img: url(../../assets/images/fruits.jpg)">
          <div>
              <h1>Solids can be taken in snacks such as</h1>
              <p>Sprouts</p>
              <p>Dry-fruits</p>
              <p>Fresh-chopped fruits</p>
          </div>
      </a>
  </mat-tab>
  <mat-tab label="Lunch">
      <a class="blog-card" style="--bg-img: url(../../assets/images/palak.jpg)">
          <div>
              <h1>For lunch, you can have a vegetarian diet such as</h1>
              <p>Mix veg Soup</p>
              <p>Palak paneer pulao</p>
              <p>Mix veg Kichidi</p>
          </div>
      </a>
      <a class="blog-card" style="--bg-img: url(../../assets/images/chicken.jpg)">
          <div>
              <h1>You can eat non-vegetarian food at lunch, such as</h1>
              <p>Chicken curry with mix vegetables</p>
              <p>Egg curry</p>
              <p>Fish fry and Roti</p>
          </div>
      </a>
  </mat-tab>
  <mat-tab label="Evening Snacks">
      <a class="blog-card" style="--bg-img: url(../../assets/images/coffee.jpg)">
          <div>
              <h1>Liquids can be consumed in snack forms such as</h1>
              <p>Juice</p>
              <p>Tea</p>
              <p>Coffee</p>
          </div>
      </a>
      <a class="blog-card" style="--bg-img: url(../../assets/images/eggs.jpg)">
          <div>
              <h1>Solids can be consumed in snack forms such as</h1>
              <p>Eggs</p>
              <p>Sprouts</p>
              <p>Fresh-chopped fruits</p>
          </div>
      </a>
  </mat-tab>
  <mat-tab label="Dinner">
      <a class="blog-card" style="--bg-img: url(../../assets/images/chickpea.jpg)">
          <div>
              <h1>For dinner, you can take a vegetarian diet like</h1>
              <p>Mix Daal</p>
              <p>Brown Rice</p>
              <p>Chickpea curry</p>
          </div>
      </a>
      <a class="blog-card" style="--bg-img: url(../../assets/images/boiled.jpg)">
          <div>
              <h1>For dinner, you can take a non-vegetarian diet like</h1>
              <p>Boiled chicken</p>
              <p>Non-veg curry</p>
              <p>wheat Roti</p>
          </div>
      </a>
  </mat-tab>
</mat-tab-group>