<div class="container">
  <div class="up">
      <h1>Here is your Balanced Diet plan for 7 days</h1>
      <div class="plan-container" fxFlexAlign="center">
          <mat-card>
              <h2>Balanced Diet Plan</h2>
              <p>Diet plan includes healthy and customized diet for each person depending on the metabolism and other various factors. A balanced diet supplies the nutrients your body needs to work effectively. Without balanced nutrition, your body is
                  more prone to disease, infection, fatigue, and low performance. Children who don't get enough healthy foods may face growth and developmental problems, poor academic performance, and frequent infections.</p>
              <button mat-raised-button (click)="openDialog()">Click here to check balanced diet plan</button>
          </mat-card>
      </div>
  </div>